*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

nav{
  height: 70px;
  background: #FFFFFF;
  display: flex;
  padding: 12px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1); 
}

nav .nav--logo{
  width: 90px;
  height: 50px;
}

.section-image{
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section .hero-pic{
  max-width: 300px;
  align-self: center;
}

section h1{
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
}

section p{
  width: 280px;
  height: 56px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  margin-top: -1rem;
}

.card .card--pic{
  width: 176px;
  height: 235px;
  border-radius: 9px;
}

.card .info{
  display: flex;
  gap: 3px;
  align-content: center;
}

.card .info .star{
  width: 14px;
  height: 12.55px; 
}

.info{
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.info .rating{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
}

.info .country{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #918E9B 
}

.card h3.title{
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
  margin-top: 6px;
}

.card .price-label{
  margin-top: -7px;
}

.card .price-label .price{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
}

.card .price-label .person{
  color: #918E9B;
  font-style: normal;
  font-size: 12px;
  line-height: 110%;
}

.card{
  padding: 20px;
  position: relative;
}

.cards-name{
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.card-badge{
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 2px;
  top: 23px;
  left: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  padding: 5px 7px;
  line-height: 110%;
  text-align: center;
  color: #222222;
}